<!DOCTYPE html>
<html lang='en'>
<head>
<title>Login Page</title>
</head>
<body>
<h2 align='center'>Welcome to Login Page</h2>
<form action="/app1/authenticationpage/login/" method="post" enctype='multipart/form-data' >
<table align='center' border='2px' cellpadding='10px' cellspacing='7px'>
<tr>
<th>User Name</th>
<td><input type='text' name='username'></td>
</tr>

<tr>
<th>Password</th>
<td><input type='text' name='password'></td>
</tr>

<tr>
<td align='center' colspan='2'><input type='submit' value='Login'></td>
</tr>


</table>
</form>
<h5 align='center'><a href='/app1/authenticationpage/signup/'>Not Registered?Click Link To Sign Up</h5>
</body>

</html>