<!DOCTYPE html>
<html lang="en">
<head>
<title>Login Page</title>
</head>
<body>
<h1 align='center'>Welcome to XYZ Bank Signup</h1>
<form action='/app1/authenticationpage/signUp/' method='post' entype='multipart/form-data'>
<table align='center' border='2px' align='center' cellpadding='10px' cellspacing='7px'>

<tr>
<th align='center' colspan='2'>Registration Form</th>
</tr>

<tr>
<th>First Name</th>
<td><input type='text' name='firstname'></td>
</tr>

<tr>
<th>Last Name</th>
<td><input type='text' name='lastname'></td>
</tr>

<tr>
<th>User Name</th>
<td><input type='text' name='username'></td>
</tr>

<tr>
<th>Password</th>
<td><input type='password' name='password'></td>
</tr>

<tr>
<th>email id</th>
<td><input type='text' name='email'></td>
</tr>

<tr>
<th>Gender</th>
<td>
Male<input type='radio' name='gender' value='male' checked/>
Female<input type='radio' name='gender' value='female'/>
</td>
</tr>

<tr>
<th>Contact No.</th>
<td><input type='number' name='mobile'></td>
</tr>

<tr>
<th>Address</th>
<td><input type='text' name='address'></td>
</tr>

<tr>
<th>D.O.B</th>
<td><input type='date' name='dob'></td>
</tr>

<tr>
<th>State</th>
<td><select name='state'>
<option >Select an option</option>
<option value='Haryana'>Haryana</option>
<option value='Punjab'>Punjab</option>
<option value='U.P.'>U.P.</option>
<option value='Rajasthan'>Rajasthan</option>
<option value='H.P.'>H.P.</option>
</select>
</td>
</tr>

<tr>
<td align="center" colspan="2"><input type='submit' value='Submit'></td>
</tr>

</table>
</form>
</body>
</html>